.hide-before-load {
	display: none;
}

.lcars-container2 {
  background: #000;
  padding: 1.5%;
  width: 100%;
  height: 100%;
}

@font-face {
   font-family: "lcars fonts";
   src: url("../fonts/Swiss 911 Ultra Compressed BT.ttf");
}

body {
	background-color: black;
	font-family: "lcars fonts"
}

.container {
	width: 960px;
	margin: 0 auto;
}

.lcars-tan-blue-divide {
 /*  background-image: -webkit-linear-gradient(0deg, transparent 497px, #000 497px), -webkit-linear-gradient(0deg, #fc8 125px, transparent 125px), -webkit-linear-gradient(0deg, transparent 130px, #99f 130px);
 background-image: -moz-linear-gradient(0deg, transparent 497px, #000 497px), -moz-linear-gradient(0deg, #fc8 125px, transparent 125px), -moz-linear-gradient(0deg, transparent 130px, #99f 130px);
 background-image: -o-linear-gradient(0deg, transparent 497px, #000 497px), -o-linear-gradient(0deg, #fc8 125px, transparent 125px), -o-linear-gradient(0deg, transparent 130px, #99f 130px);
 background-image: -ms-linear-gradient(0deg, transparent 497px, #000 497px), -ms-linear-gradient(0deg, #fc8 125px, transparent 125px), -ms-linear-gradient(0deg, transparent 130px, #99f 130px); */
  background-image: linear-gradient(90deg, transparent 495px, #000 495px), linear-gradient(90deg, #fc8 125px, transparent 125px), linear-gradient(90deg, transparent 130px, #99f 130px);
}

.lcars-blue-tan-divide {
 /*  background-image: -webkit-linear-gradient(0deg, transparent 497px, #000 497px), -webkit-linear-gradient(0deg, #fc8 125px, transparent 125px), -webkit-linear-gradient(0deg, transparent 130px, #99f 130px);
 background-image: -moz-linear-gradient(0deg, transparent 497px, #000 497px), -moz-linear-gradient(0deg, #fc8 125px, transparent 125px), -moz-linear-gradient(0deg, transparent 130px, #99f 130px);
 background-image: -o-linear-gradient(0deg, transparent 497px, #000 497px), -o-linear-gradient(0deg, #fc8 125px, transparent 125px), -o-linear-gradient(0deg, transparent 130px, #99f 130px);
 background-image: -ms-linear-gradient(0deg, transparent 497px, #000 497px), -ms-linear-gradient(0deg, #fc8 125px, transparent 125px), -ms-linear-gradient(0deg, transparent 130px, #99f 130px); */
  background-image: linear-gradient(90deg, transparent 495px, #000 495px), linear-gradient(90deg, #99f 125px, transparent 125px), linear-gradient(90deg, transparent 130px, #fc8 130px);
}

.lcars-divider {
	border-left: 0px solid #000;
}

.lcars-menu li.tall, ol.lcars-menu li.tall, ul.lcars-menu li.tall {
	height: 100px;
}

.lcars-menu li, ol.lcars-menu li, ul.lcars-menu li {
	height: 350px;
}

.spacer {
	height:80px;
	width: 100%;
	background-color: black;
}

.lcars-button.radius {
	/* width: 100%; */
	font-size: 40px;
	font-family: "lcars fonts";
	
	font-weight: normal;
}

.lcars-button.radius:hover {
	/* width: 100%; */
	background-color: #cc6699;
}

/* .start-image img {
	height: 200px;
	width: 20px; */
/* } */

.start-image img {
	height: 350px;
	padding-left:30px;
	/* background-color: blue; */
}

h1 {
	color: #ff9f00;
	font-weight: normal;
	font-size: 60px;
}

.title-text h1 {
	color: #ff9f00;
	font-weight: normal;
	font-size: 90px;
	margin-left: 22px;
}

.initialize-lcars-text2 h2 {
	color: #ff9f00;
	font-weight: normal;
	font-size: 40px;
	margin-left: 52px;
}

.initialize-lcars-text3 h2 {
	color: #ff9f00;
	font-weight: normal;
	font-size: 40px;
	margin-left: 70px;
}

.left-edge {
	height: 50px;
	width: 100%;
	background-color: #a7d4ff;
	border-radius: 25px 0px 0px 25px;
	/* float: left; */
	display: inline-block;
}

.top-edge {
	display: inline-block;
	height: 50px;
	width: 100%;
	background-color: #a7d4ff;
	/*float: right;*/
}

.right-edge {
	height: 50px;
	width: 100%;
	background-color: #a7d4ff;
	border-radius: 0px 25px 25px 0px;
	/* float: right; */
	border-left: 5px solid black;
}

.q-title-text {
	font-family: "lcars fonts";
	color: #ff9f00;
	display: inline-block;
	/* clear: both; */
	padding-left: 60px;
	
}

.q-title-text h2 {
	font-size: 50px;
	font-weight: normal;
	
}


.tan-header {
	height: 140px;
	width: 20px;
	background-color: #fc8;
}


.tan-elbow {
	height: 200px;
}

.timer-top-elbow {
	border-left: 5px solid black;
	height: 100px;
}

.q-right-1 {
	height: 100px;
	margin-left:21px;
	border-top: 5px solid black;
	background-color: #99f;
	
}

.q-right-2 {
	height: 300px;
	margin-left:21px;
	border-top: 5px solid black;
	background-color: #ff9a66;
}

.q-right-3 {
	height: 150px;
	margin-left:21px;
	border-top: 5px solid black;
	background-color: #ff9a66;
}

.timer-top {
	height: 40px;
	width: 100%;
	background-color: #99f;
}

.timer-top-right {
	height: 40px;
	width: 100%;
	border-radius: 0px 20px 20px 0px;
	background-color: #99f;
}

.timer-text {
	font-size: 40px;
	font-weight: normal;
	padding-left: 30px;
	color: #ff9f00;
}

.q-area {
	padding-left: 2%;
}

.timer-left-side {
	height: 150px;
	/* margin-left:21px; */
	border-top: 5px solid black;
	border-left: 5px solid black;
	background-color: #fe9900;
	margin-right: 30px;
	
	
}
.lcars-column.u-1-5.timer-left-side {
	width: 17%;
}

.timer-bottom-elbow {
	border-left: 5px solid black;
	border-top: 5px solid black;
	height: 75px;
}

.timer-bottom {
	border-left: 5px solid black;
	height: 15px;
	width: 100%;
	background-color: #99f;
	margin-top: 65px;
}

.timer-bottom-right {
	border-left: 5px solid black;
	height: 15px;
	width: 100%;
	background-color: #99f;
	margin-top: 65px;
	/* border-radius: 0px 7.5px 7.5px 0px; */
}

.options-top {
	height: 40px;
	width: 100%;
	background-color: #cc6666;
}

.options-top-right {
	height: 40px;
	width: 100%;
	border-radius: 0px 20px 20px 0px;
	background-color: #cc6666;
}

.options-text {
	font-size: 40px;
	font-weight: normal;
	padding-left: 15px;
	color: #ff9f00;
}

.options-left-side {
	height: 220px;
	/* margin-left:21px; */
	border-top: 5px solid black;
	border-left: 5px solid black;
	background-color: #cb99cc;
	margin-right: 30px;
	
	
}
.lcars-column.u-1-5.options-left-side {
	width: 17%;
}

.options-bottom-elbow {
	border-left: 5px solid black;
	border-top: 5px solid black;
	height: 75px;
	background-color: #cc6699 !important;
}

.options-bottom {
	border-left: 5px solid black;
	height: 15px;
	width: 100%;
	background-color: #ff9a66;
	margin-top: 65px;
}

.options-bottom-right {
	border-left: 5px solid black;
	height: 15px;
	width: 100%;
	background-color: #ff9a66;
	margin-top: 65px;
	/* border-radius: 0px 7.5px 7.5px 0px; */
}

.options-top-elbow {
	border-left: 5px solid black;
	height: 100px;
	background-color: #cc6666 !important;
}

.number p {
	color: #ff9f00;
	font-weight: normal;
	font-size: 90px;
	/* margin-left: 22px; */
}

.question {
	padding-top: 10px;
	color: #ff9f00;
	font-weight: normal;
	font-size: 50px;
	/* margin-left: 22px; */
}

.timer {
	color: #ff9f00;
	font-weight: normal;
	font-size: 150px;
	/* margin-left: 22px; */
}

.results {
	color: #ff9f00;
	font-weight: normal;
	font-size: 30px;
}.

.reset {
	color: #ff9f00;
	font-weight: normal;
	font-size: 30px;
}

.answers {
	height:220px;
}

.answers img {
	height: 100%;
}

.lcars-button.radius.answer {
	font-size: 30px;
	padding: 5px 15px;
}